doctype html
html(lang="en")
  head 
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    style 
      include ../public/css/style.css
    title= pageTitle 
  body 
    h1 Warmup Project #1: Tic-Tac-Toe game against a bot.
    form(role="form", method="POST", action="/ttt/")
        label(for="name") Name:
        br
        input(type="text", name="name")
        br
        br
        input(type="submit", value="Submit")
    
    footer.footer
      ul
        li
          img(class="avatar", src="/img/Snowy.png") 
        li 
          h4 Kevin Li 
