<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta name="viewport", content="width=device-width, initial-scale=1">
      <link href="/css/style.css" rel="stylesheet" type="text/css">
      <title>Login</title>
      
  </head>
  <body>
    <form action="/login" method="post">
        <label for="username">Username</label><br>
        <input type="text" name="username"><br><br>

        <label for="password">Password</label><br>
        <input type="password" name="password"><br><br>

        <button type="submit">Login</button>
    </form>

    <footer class="footer">
      <ul>
        <li><img class="avatar" src="img/Snowy.png"></li>
        <li><h4>Kevin Li</h4></li>
      </ul>
    </footer>
  </body>
</html>