<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta name="viewport", content="width=device-width, initial-scale=1">
      <link href="https://cdn.quilljs.com/1.0.0/quill.snow.css" rel="stylesheet">
      <link href="/css/style.css" rel="stylesheet" type="text/css">
      <title>Google Docs Clone</title>
  </head>
  <body>
    <!-- Create the toolbar container -->
    <div id="toolbar">
      <button class="ql-bold">Bold</button>
      <button class="ql-italic">Italic</button>
    </div>
    
    <!-- Create the editor container -->
    <div id="editor">
      <p>Hello World!</p>
    </div>
    
    <!-- Include the Quill library -->
    <script src="https://cdn.quilljs.com/1.0.0/quill.js"></script>
    
    <footer class="footer">
      <ul>
        <li><img class="avatar" src="img/Snowy.png"></li>
        <li><h4>Kevin Li</h4></li>
      </ul>
    </footer>
  </body>

  <!-- Initialize Quill editor -->
  <script>
    var editor = new Quill('#editor', {
      modules: { toolbar: '#toolbar' },
      theme: 'snow'
    });
  </script>
</html>