<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta name="viewport", content="width=device-width, initial-scale=1">
      <link href="https://cdn.quilljs.com/1.0.0/quill.snow.css" rel="stylesheet">
      <link href="/css/style.css" rel="stylesheet" type="text/css">
      <title>Google Docs Clone</title>
  </head>
  <body>
    <div id="toolbar"> <!-- Quill toolbar -->
      <button class="ql-bold">Bold</button>
      <button class="ql-italic">Italic</button>
    </div>
    
    <div id="editor"></div>  <!-- Quill editor -->
    
    <footer class="footer">
      <ul>
        <li><img class="avatar" src="img/Snowy.png"></li>
        <li><h4>Kevin Li</h4></li>
      </ul>
    </footer>
  </body>

  <script src="https://cdn.quilljs.com/1.0.0/quill.js"></script>
  <script> // Initialize Quill editor
    const editor = new Quill('#editor', {
      modules: { toolbar: '#toolbar' },
      theme: 'snow'
    });
  </script>
</html>