<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta name="viewport", content="width=device-width, initial-scale=1">
      <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon"> <!-- Spoof -->
      <title>Login/Register</title>
  </head>
  <body>
    <h1>CSE 356 Final Project: Google Docs Clone</h1>
    <h2>By TeamSoloKid</h2>
    <h3>Log in here:</h3>
    <form action="/login" method="post">
      <label for="username">Username</label><br>
      <input required type="text" name="username"></br>

      <label for="password">Password</label><br>
      <input required type="password" name="password"><br><br>

      <button type="submit">Login</button>
    </form><hr>

    <h3>Don't have an account? Register here:</h3>
    <form action="/addUser" method="post">
      <label for="email">Email</label><br>
      <input required type="text" name="email"></br>

      <label for="username">Username</label><br>
      <input required type="text" name="username"></br>

      <label for="password">Password</label><br>
      <input required type="password" name="password"><br><br>

      <button type="submit">Register</button>
    </form><hr>

    <h3>[DEV] Verify account</h3>
    <form action="/verify" method="post">
      <label for="email">Email</label><br>
      <input required type="text" name="email"><br>

      <label for="key">Key</label><br>
      <input type="text" name="key" value="abracadabra"><br><br>

      <button type="submit">Verify</button>
    </form>
  </body>
</html>